body{
  background-image: url("too_good_for_grumpy_cat.jpg")
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: pink;
}

h1,
h2{
  text-align: center;
}

.nav-links{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.nav-link{
  border: 2px solid black
  display: inline-block;
  width: 120px;
  text-align: center;
}

.nav-link a{
  text-decoration: none;
  color: red
}
