body{
  background-color: purple
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: pink;
}

h1,
h2, h3, p{
  text-align: center;
  font-family: "Palatino Linotype", serif;
}

p{
  font-size: 16px;
  font-family: "Palatino Linotype", serif;
}

.nav-links{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.nav-link{
  width: 120px
  border: 2px solid black

  text-align: center;
  display: inline-block;
}

.nav-link a{
  text-decoration: none;
  color: red
}
